/** @format */

@use '../abstracts' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $primary-dark;

	&:hover {
		transition: all 0.3s ease;
		color: $primary;
	}
}

p {
	line-height: 1.5;
}

img,
video {
	max-width: 100%;
	height: auto;
}

input,
textarea {
	border: 1px solid $gray-200;
	outline: none;
	padding: 0.4rem 1rem;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

svg {
	margin: 0 0.4rem;
}

hr {
	width: 100%;
	margin: 2rem 0;
}

.sr-only {
	display: block;
	overflow: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 0;
	height: 0;
}
