/** @format */

@use '../abstracts' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $light;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $primary-dark;

	&:hover {
		transition: all 0.3s ease;
		color: $primary;
	}
}

p {
	margin-bottom: 2rem;
	line-height: 1.5;
}

img,
video {
	max-width: 100%;
	height: auto;
}

input {
	&[type='text'],
	&[type='search'],
	&[type='email'] {
		outline-offset: 0;
		padding: 0.5rem 0.8rem;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

svg {
	margin: 0 0.4rem;
}

.sr-only {
	display: block;
	overflow: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 0;
	height: 0;
}
