/** @format */

@use '../abstracts' as *;

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Marcellus', serif;
	font-weight: 500;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.3rem;
}

.lead {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.uppercase {
	text-transform: uppercase;
}

.section-title {
	position: relative;
	text-transform: uppercase;
	&::before {
		position: absolute;
		content: ' ';
		height: 60%;
		width: 0.3rem;
		top: 50%;
		left: -1rem;
		transform: translateY(-50%);
		background-color: $primary;
	}
}

body,
p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 0.9rem;
}

@media (min-width: $md) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.3rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	h4 {
		font-size: 1.3rem;
	}
	p {
		font-size: 1rem;
	}
	.lead {
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}
}

@media (min-width: $lg) {
	h1 {
		font-size: 3.2rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.5rem;
	}
}
