/** @format */

@use '../abstracts' as *;

.login__page {
  background-image: url('../../assets/images/bg1.jpg');
  @include backgroundImage(
    $position: bottom,
    $height: 100%,
    $gradient: 'true',
    $overlayOpacity: 0.3
  );

  @media (min-width: $md) {
    @include backgroundImage(
      $position: bottom,
      $height: 100vh,
      $gradient: 'true',
      $overlayOpacity: 0.3
    );
  }

  &-wrapper {
    height: 100%;
    width: 100%;
    @media (min-width: $lg) {
      @include flexbox($direction: column);
    }
    @media (min-width: $xl) {
      @include flexbox($content: space-between);
    }
  }

  .site__info {
    color: $light;
    text-align: center;
    padding: 2rem;
    margin-top: auto;

    .divider {
      margin: 1.5rem auto;
    }

    &-title {
      @include flexbox();
      h1 {
      }
      img {
        height: 5rem;
        margin-right: 1rem;
        display: none;
        @media (min-width: $md) {
          display: block;
        }
      }
    }

    @media (min-width: $lg) {
      margin-bottom: 4rem;
    }
    @media (min-width: $xl) {
      margin: auto;
    }
  }

  .form-panel {
    background-color: white;
    padding: 2rem;
    width: 100%;

    @media (min-width: $md) {
      padding: 3rem;
      width: 500px;
      margin: auto;
    }
    @media (min-width: $lg) {
      width: 600px;
    }
  }
}
