/** @format */

@use '../abstracts' as *;

.product__image {
	width: 100%;
	margin-right: 2rem;
	border: 1px solid $gray-200;
	img {
		width: 100%;
	}

	@media (min-width: $md) {
		width: 300px;
	}
	@media (min-width: $lg) {
		width: 500px;
	}
}

.product__info {
	.description {
		padding: 1rem 0;
	}
	.category {
		margin-top: 0.5rem;
		@include flexbox($content: flex-start);
		p {
			font-size: 1.1rem;
			margin-right: 1.5rem;
			span {
				color: $primary;
			}
		}
	}

	.stock {
		margin-top: 1rem;
		span {
			color: $primary;
		}
	}
	.price {
		margin: 2rem 0;
	}
}
.cart {
	input {
		width: 8rem !important;
		margin-right: 2rem;
	}
}
