/** @format */

@use '../abstracts' as *;

.welcome__info {
  background-color: white;
  padding: 2rem;
  // margin-bottom: 2rem;
  h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-300;
  }
}

.profile__container {
  @include flexbox($items: flex-start, $direction: column);
  background-color: white;
  padding: 0rem;

  @media (min-width: $lg) {
    @include flexbox($items: flex-start);
    padding: 2rem;
  }
}

.profile__section {
  padding: 1rem;
}

.profile {
  min-width: 30rem;
  margin-bottom: 2rem;
}

.orders {
  width: 100%;
}
