/** @format */

@use '../abstracts' as *;

.featured__bg {
	background-image: url('../../assets/images/bg_feature1.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.product__nav {
	@include flexbox($direction: column);
	width: 100%;
	margin-top: 4rem;
	.product__link {
		margin-bottom: 4rem;
	}

	@media (min-width: $md) {
		@include flexbox($content: space-evenly);
		margin-bottom: 2rem;
	}
}

.product__title {
	@include flexbox($content: space-between);
	width: 100%;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
	a {
		font-size: 1.2rem;
		color: $primary;
	}
}

.product__link {
	position: relative;
	background-color: $light;
	height: 12rem;
	width: 30rem;

	@include shadow;
	@include flexbox;
	&::before {
		@include triangle-left($size: 6rem);
	}
	h3 {
		text-transform: uppercase;
		margin-right: auto;
		padding: 0 5rem;
	}

	&-icon {
		position: absolute;
		left: 0;
		top: 0;
		width: 3rem;
		height: 3rem;
	}

	&-image {
		position: absolute;
		height: 300px;
		width: 300px;
		right: -4rem;
		bottom: -2rem;
	}
}

aside {
	width: 10rem;
	height: 100%;
	margin-left: 1rem;
}

.page__url {
	margin-top: 3rem;
	color: $dark;
}
