/** @format */

@use '../abstracts' as *;

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba($dark, 0);
	z-index: 99;
	.header__wrapper {
		@include flexbox($content: space-between);
		.logo {
			position: relative;
			background-color: darken($dark, 10%);
			padding: 0.2rem;
			@include shadow($v: 12px);

			&::after {
				position: absolute;
				content: '';
				bottom: -1.98rem;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				height: 2rem;
				background-color: darken($dark, 10%);
				clip-path: polygon(50% 60%, 0 0, 100% 0);
				@include shadow($v: 12px);
			}
			img {
				height: 64px;
				width: 64px;
			}
		}

		.mobile {
			display: none;
		}

		.nav {
			position: absolute;
			width: 100%;
			height: max-content;
			top: 0;
			left: 0;
			background-color: $dark;
			padding-top: 7rem;

			z-index: -1;

			&__menu {
				@include flexbox($direction: column);

				&-item {
					font-size: 1.5rem;
					margin-bottom: 2rem;
					a,
					p {
						color: $primary-light;
						position: relative;
						font-size: 1.2rem;
						font-family: 'Marcellus', serif;
						text-transform: uppercase;

						&:hover {
							color: $primary;
						}

						.arrow {
							position: absolute;
							top: 0.2rem;
						}
					}
				}
			}

			@media (min-width: $lg) {
				background: none;
				width: auto;
				height: auto;
				position: relative;
				margin-left: auto;
				padding-top: 0;
				@include flexbox();
				z-index: 1;
				&__menu {
					@include flexbox();
					&-item {
						position: relative;
						margin: 0 1.5rem;

						&:hover {
							.nav__dropdown {
								transition: all 0.3s ease;
								opacity: 1;
								pointer-events: initial;
							}
						}

						.active {
							position: relative;
							color: $primary;
							&::before {
								position: absolute;
								content: ' ';
								left: 50%;
								transform: translateX(-50%);
								bottom: -0.5rem;
								background-color: $primary;
								height: 2px;
								width: 2rem;
							}
						}
					}
				}

				.shopify {
					@media (min-width: $lg) {
						margin-left: 1.5rem;
						& > * {
							margin: 0 0.5rem !important;
						}

						&::before {
							content: '';
							height: 1rem;
							width: 2px;
							background-color: rgba($primary-dark, 0.5);
							margin-right: 1.5rem;
						}

						.item__count {
							position: absolute;
							background-color: $primary-light;
							border-radius: 50%;
							font-size: 1rem;
							padding: 0rem 0.4rem;
							font-weight: 600;
							top: 0.5rem;
							left: 1.5rem;
							z-index: 1;
						}
					}
				}
			}
		}

		.btn-hamburger {
			display: block;
			@media (min-width: $lg) {
				display: none;
			}
		}
	}
}

.bg-dark {
	transition: all 0.2s ease-in-out;
	background-color: rgba(darken($dark, 5%), 1);
	border-bottom: 1px solid $primary-dark;
}

.nav__dropdown {
	@media (min-width: $lg) {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		height: min-content;
		width: max-content;
		padding: 1rem 1.5rem;
		background-color: $dark;
		@include shadow();

		&-item {
			margin-bottom: 1rem;
		}
	}
}
