/** @format */
@use '../abstracts' as *;

.container {
	position: relative;
	max-width: 475px;
	padding: 0 1rem;
	margin: 0 auto;

	@media (min-width: $sm) {
		max-width: 640px;
		padding: 0 1.5rem;
	}
	@media (min-width: $md) {
		max-width: 768px;
		padding: 0 2rem;
	}
	@media (min-width: $lg) {
		max-width: 1024px;
	}
	@media (min-width: $xl) {
		max-width: 1280px;
	}
	@media (min-width: $xxl) {
		max-width: 1600px;
	}
}

.wrapper {
	padding: 4rem 0;
}

.center {
	@include flexbox($direction: column);
	text-align: center;
	width: 100%;
	margin: auto;
}

/* Margin */
.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-3 {
	margin-bottom: 3rem;
}
.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem;
}

/* Padding */
.pb-1 {
	padding-bottom: 1rem;
}
.pb-2 {
	padding-bottom: 2rem;
}
.pb-3 {
	padding-bottom: 3rem;
}
.pt-1 {
	padding-top: 1rem;
}
.pt-2 {
	padding-top: 2rem;
}
.pt-3 {
	padding-top: 3rem;
}

/* Grid */
.grid-4 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: center;
	gap: 2.5rem;

	@media (min-width: $md) {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
	@media (min-width: $lg) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (min-width: $xl) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: center;
	gap: 2.5rem;

	@media (min-width: $md) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: $lg) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: center;
	gap: 2.5rem;

	@media (min-width: $md) {
		grid-template-columns: repeat(2, 1fr);
	}
}
