/** @format */

@use '../abstracts' as *;

.card {
	position: relative;
	width: 100%;
	background-color: white;
	color: $dark;
	padding: 2rem;
	height: auto;
	@include shadow;
	@include flexbox($direction: column);

	&:hover {
		transition: all 0.3s ease;
		color: initial;
		overflow: hidden;
		@include shadow($v: 8px, $blur: 16px, $spread: 4px);
		.card__img {
			transition: all 0.3s ease;
			transform: scale(1.02);
		}
	}

	&__status {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $gray-500;
		color: $light;
		padding: 0.3rem 0.6rem;
		z-index: 1;
	}

	.unavailable {
		background-color: $gray-500;
	}

	&__img {
		width: 100%;
		height: fit-content;
		margin-bottom: 1rem;
	}
	&__body {
		text-align: center;
		margin-bottom: 0;
		height: 100%;
	}
	&__text {
		.reviews {
			@include flexbox($content: space-between);
			margin-bottom: 1rem;
		}
		.price {
			font-size: 1.3rem;
		}
	}

	@media (min-width: $lg) {
		padding: 2rem 1rem;
		h4 {
			font-size: 1.1rem;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.2rem;
			margin-top: auto;
			margin-bottom: 1rem;
		}
	}
	@media (min-width: $xl) {
		h4 {
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.5rem;
			margin-top: auto;
			margin-bottom: 1rem;
		}
	}
}
