/** @format */

@use '../abstracts' as *;

.contact__form {
	@include backgroundImage($height: fit-content);
	background-image: url('../../assets/images/bg7.png');
	.container {
		h2 {
			color: $light;
			text-transform: uppercase;
			text-align: center;
		}
		.row {
			width: 100%;
			@include flexbox($direction: column);

			input,
			textarea {
				width: 100%;
				margin: 0rem 1rem 2rem 1rem;
			}

			@media (min-width: $md) {
				width: 70%;
				@include flexbox($direction: row);
			}
		}
	}
}

.form {
	background-color: white;
	min-width: max-content;
	margin-bottom: 5rem;
	padding: 0rem;

	@media (min-width: $md) {
		padding: 2rem;
	}

	&__group {
		@include flexbox($direction: column, $items: flex-start);
		margin: 1.5rem;
		margin-bottom: 1rem;
		&-label {
			justify-self: flex-start;
			font-size: 1rem;
			font-weight: 600;
			margin-right: auto;
			margin-bottom: 0.5rem;
		}
		&-control {
			width: 100%;
		}
	}
}
