/** @format */

@use '../abstracts' as *;

input,
textarea,
select {
  border: 1px solid $gray-200;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  background-color: $gray-50;

  &:focus {
    outline: $gray-500 solid 1px;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.contact__form {
  @include backgroundImage($height: fit-content);
  background-image: url('../../assets/images/bg7.png');
  .container {
    h2 {
      color: $light;
      text-transform: uppercase;
      text-align: center;
    }
    .row {
      width: 100%;
      @include flexbox($direction: column);

      input,
      textarea {
        width: 100%;
        margin: 0rem 1rem 2rem 1rem;
      }

      @media (min-width: $md) {
        width: 70%;
        @include flexbox($direction: row);
      }
    }
  }
}

.form {
  background-color: white;
  min-width: max-content;
  // margin-bottom: 5rem;
  padding: 0rem;

  @media (min-width: $md) {
    padding: 2rem;
  }

  &__group {
    margin: 0.5rem 0rem;
    width: 100%;

    @media (min-width: $lg) {
      margin: 0.5rem;
    }

    &-title {
      font-size: 1rem;
      font-weight: 600;
      margin-right: auto;
      margin-bottom: 0.5rem;
    }
    &-label {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
    &-control {
      width: 100%;
      margin: 0.5rem 0;
    }
    &-image {
      max-width: 400px;
    }
  }
}

.radio {
  @include flexbox($content: space-between);
  background-color: $gray-50;
  border: 1px solid $gray-200;
  max-width: 20rem;
  padding: 0rem 1rem;
  height: min-content;

  &-label {
    margin-right: auto;
    margin-left: 1rem;
  }

  &-img {
    height: 4rem;
  }
}
