/** @format */

@use '../abstracts' as *;

.disabled {
	display: none;
}

.message {
	position: fixed;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	max-width: 500px;
	height: auto;
	// margin: auto;
	z-index: 99;

	.quit__btn {
		position: absolute;
		right: 0;
		top: 0.5rem;
		border: none;
		background: none;
		color: white;
		cursor: pointer;
	}

	.success,
	.danger {
		text-align: center;
		padding: 1rem 2rem;
		// margin: 0 2rem;
		color: white;
	}

	.success {
		border: 1px solid rgb(110, 190, 56);
		background-color: rgb(150, 236, 164);
	}

	.danger {
		border: 1px solid rgb(190, 56, 56);
		background-color: rgb(236, 150, 150);
	}
}
