@use '../abstracts' as *;

.modal {
  position: relative;
  background: white;
  width: max-content;
  height: auto;
  padding: 2rem;
  // overflow: hidden;

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    &-btn {
      background: none;
      outline: none;
      border: none;
      font-size: 1.3rem;
      cursor: pointer;

      &:hover {
        transition: all 0.3s ease;
        color: $primary;
      }
    }
  }

  &__title {
    font-size: 1.2rem;
  }

  &__body {
    padding: 1rem;
  }
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.7);
  @include flexbox();
  z-index: 999;
}
